*{
    box-sizing: border-box;
}

/* Style body of the page */
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Style navigation bar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
}

/* Style logo */
.logo{
    font-size: 25px;
    margin: 4px;
    color: #ffff33;

}
